<div class="container">
  <h1>Create your own Quotes...</h1>
  <h3>At the click of a button</h3>
  <hr>
  <div class="row">
    <div class="col-md-6">
     <!-- <ol> -->
    <div *ngFor='let quote of quotes;let i = index'>
      <li>{{quote.quoteTitle}}</li>
      <button (click)='toggleDetails(i)'>Toggle Details</button>
      <app-quote-detail *ngIf='quote.showQuoteDescription' [quote]='quote' (isComplete)='deleteQuote($event,i)'>
      </app-quote-detail>

    </div>
    <!-- </ol> -->
    <p>Share this App link with Friends & Family for them to create their own quotes. #Tell.A.Friend.To.Tell.A.Friend!
    </p>

  </div>