<div class="container-fluid">
    <h2 class="text-center">Create a new Quote</h2>
    <hr>
    <form>
        <div class="form-group">
  
            <label for="name">Quote:</label>
            <textarea placeholder='Enclose your Quote in Quotation Marks: " "' required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name"></textarea>
  
            Display {{newQuote.name}}
        </div>
        <div class="form-group">
  
            <label for="name">Author:</label>
            <input placeholder="Who penned the quote?" type="text" required class="form-control" id="name">
  
        </div>

        <div class="form-group">
  
            <label for="name">Submitted By:</label>
            <input placeholder="Your Name" type="text" required class="form-control" id="name" required>
  
        </div>

        <div class="form-group">
            <label for="complete">Date of Submission</label>
            <input type='date' id="complete" required>
  
        </div>
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
  </div>